@CHARSET "UTF-8";

img {
	border:0 none;
}

a {
	outline: none;
	text-decoration:none;
	color:black;
}
a:hover {
	text-decoration:underline;
}

body  {
	background-image:url("../player/css/images/bg-pattern.png");
	background-repeat:repeat;
	font-size: 18px;
    font-family: helvetica,arial, sans-serif;
	font-size-adjust: 0.55;
	font-style: normal;
	line-height:normal;
	color: #444;
	line-height: 1.5;  /*unitless for proper inheritance*/
	padding:0;
	margin:0;
	text-shadow:#fff 1px 1px 1px;
}

.container {
	width:1000px;
	margin: 0 auto;
}
#mainHead {
	display:block;
	background: white;
	height: 105px;
	margin: 0;
	padding: 0;
}
#macs {
	background: url('images/macs.png') no-repeat bottom center scroll transparent;
	display: block;
	position: absolute;
	height: 566px;
	width: 551px;
	text-indent: -9999px;
}
#mainHead h1 {
	background-image: url('images/logo.jpg');
background-position: top left;
background-repeat: none;
width: 367px;
height: 105px;
text-indent: -9999px;
margin: 0;
float: left;
}
#mainHead h1 a {
	display:block;
	height: 105px;
}

ul#mainMenu {
	list-style: none;
	float: left;
	margin-top: 33px;
	margin-left: 305px;
}
ul#mainMenu li {
	text-indent:-9999px;
	float:left;
	margin-left:30px;
}
ul#mainMenu li a {
	display:block;
}
ul#mainMenu li.liHome {
	background:url('images/home.jpg') no-repeat top left scroll transparent;
	height:28px;
	width: 56px;
}
ul#mainMenu li.liBlog {
	background:url('images/blog.jpg') no-repeat top left scroll transparent;
	height:28px;
	width: 48px;
}
ul#mainMenu li.liGit {
	background:url('images/github.jpg') no-repeat top left scroll transparent;
	height:28px;
	width: 74px;
}
#mainSection {
	display: block;
	height: 355px;
	background: url('images/bg.jpg') no-repeat top center scroll #FFAD00;
}
#mainSection h1 {
}
#mainText {
	text-indent: -9999px;
	background: url('images/description.png') no-repeat center right scroll transparent;
	float: left;
	width: 1000px;
	height: 355px;
}
a#facebookBtn {
	background-image:url('images/facebook-btn.png');
}
a#anonBtn {
	background-image:url('images/anon.png');
	margin-top: 20px!important;
}
a#facebookBtn, a#anonBtn {
	display:block;
	width:251px;
	height:48px;
	background-repeat:none;
	background-position:top left;
	margin:0 auto;
	text-indent:-9999px;
}
#mainAside {
	float: left;
	width: 400px;
	margin-left: 600px;
	height: 300px;
}
#mainAside h2 {
	font-weight: bold;
	font-size: 2em;
}