/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		
	}
	

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}
	
	#playSliderContainer {
	padding-top: 18px;
	height: 32px;
	}
	.play-btns {
	height: 50px;
	}
	#more-options, #less-options {
		position: absolute;
		width:60px;
		right:0;
		margin-top: -26px;
		display: block;
	}
	#more-options a, #less-options a {
	text-align: center;
	background: url(../../images/ulLight.png) repeat scroll 0 -1px white;
	color: white;
	padding: 3px 12px 3px 5px;
	height: 36px;
	font: bold 16px/20px helvetica, arial;
	text-shadow: black 0 0 3px;
	}
	ul#mainMenu li span {
	width:100%;
	float: left;
	height: 60px;
	border: solid 1px black;
	border-bottom: 0;
	text-indent:-9999px;
	}
	.textbox {
		padding: 6px 0;
		width: 100%;
	}
	.mobileFix {
		clear:both;
		width:100%;
		border: 1px solid #999;
		height: 50px;
	}
	.submit, #type {
		border: none;
	}
	.submit {
		width: 49%;
		height: 50px;
	}
	#type {
		border-right: 1px solid #999;
	}
	ul.ul-float, .the-content ul.ul-float  {
		border-right: 1px solid #999;
	}
	#player-container {
		background:url(images/ulMobile.png) repeat scroll 0 0px #333;
		height: 150px;
	}
	a#home_link, a#profile_link, a#playing_link, a#searches_link, a#account_link, a#logout_link, ul#mainMenu li a.single {
		padding: 10px 0;
		text-indent: -9993px;
		background-position: center center;
	}
	ul#subMenu li {
		width: 16.6%;
float: left;
display: inline;
	}
	ul#subMenu {
		position: static;
		width: initial;
	}
	#search-input, #main-search-input, .textbox {
		padding: 5px 0px 6px;
		width:100%;
	}
}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}