.row, .body, .container {
width: 100%;
margin-left: 0px;
margin-right: 0px;
padding-left: 0px;
padding-right: 0px;
}

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
width: auto;
float: none;
margin-left: 0px;
margin-right: 0px;
padding-left: 20px;
padding-right: 20px;
}

/* Type presets */

body {
font-size: 16px;
line-height: 24px;
}

#playSliderContainer {
padding-top: 18px;
height: 32px;
}
.play-btns {
height: 50px;
}
#more-options, #less-options {
	position:fixed;
	width:60px;
	height:20px;
	right:0;
	margin-top: -24px;
	display:block;
}
#more-options a, #less-options a {
text-align: center;
background: #999;
color: white;
padding: 3px 11px;
}
}