@CHARSET "UTF-8";
@import url("../../css/webfontkit/stylesheet.css");
/* Matthew Bridgeman */
/* generic fixes */
img {
	border:0 none;
}

a:link, a:visited {
	outline: none;
	color:#888;
	text-decoration:none;
}
a:hover {
	color:#fff;
}

body {
  font-family: helvetica neue, helvetica, arial, sans-serif;
  font-weight:lighter;
  margin: 0 auto;	
  background: #e3e3e3;
  color: #dadbd5;
  text-shadow:1px 1px 0 #222;
  background-image: url("images/bg-pattern.png");
}

h1 {
 border-bottom:1px dotted #000000;
padding:20px;
color:#dadbd5;
}

h2 {
	color:#666;
	text-shadow: 1px 1px 0 #fff;
}

.footer {
  border-top: 1px dotted #000;
  padding: 10px 0;
  text-align: right;
}

/* header */
#header-wrapper {
	background:url("images/player/player-grad.jpg") repeat-x scroll left top #F1F1F1;
	border-bottom:1px solid #222;
	top:0;
	height:89px;
	left:0;
	position:fixed;
	width:100%;
	overflow:hidden;
}
#logo-link {
	background:url("images/discovery-logo.png") no-repeat scroll left top transparent;
display:block;
height:90px;
text-indent:-3000px;
}
/* player */
#player-container {
	bottom: 0;
	height: 50px;
	left: 0;
	position: fixed;
	width: 100%;
	background: url(images/ul.png) repeat-x scroll top center #333;
	border-top: 1px solid black;
}
#player-wrapper {
	
	
}

.optional-functions {
	float:right;
	width:250px;
}
#playSliderContainer{
	padding-top: 18px;
}

#volumeContainer {
	width:25%;
	float:left;
}
#volumeSliderContainer {
	background: none repeat scroll 0 0 #FAFBF5;
	border: 1px solid #B3B5AF;
	padding: 5px 16px;
	margin: -114px auto 0;
	width: 17px;
	position:fixed;
}
/* player links */

a#repeat-btn, a#discovery-btn, a#prev-btn, a#next-btn, .sc-controls {
	text-indent:-9999px;
	height:50px;
	width:25%;
	display:block;
	float:left;
}

a#prev-btn {
	background: url("images/player/prev.png") no-repeat center scroll;
}

a#repeat-btn {
	background: url("images/player/repeat.png") no-repeat center scroll;
}
a#discovery-btn {
	background: url("images/player/discovery.png") no-repeat center scroll;
}
a#next-btn {
	background: url("images/player/next.png") no-repeat center scroll;
}

a#volume-btn, .sc-player .sc-controls a.sc-play, .sc-player .sc-controls a.sc-pause {
	text-indent:-9999px;
	height:50px;
	width:100%;
	display:block;
	float:left;
}
a#volume-btn {
	background: url("images/player/volume.png") no-repeat center scroll;
}
.sc-player .sc-controls a.sc-play, .sc-player .sc-controls a.sc-pause {
	background: url("images/player/play.png") no-repeat center scroll;
}
a:link.sc-player, a:link.sc-player , a:visited.sc-player {
	background: url("images/player/play.jpg") no-repeat center scroll;
}
.sc-player .sc-controls a:link.sc-pause, .sc-player .sc-controls a:visited.sc-pause {
  background: url("images/player/pause.png") no-repeat center scroll;
}
.sc-player.playing .sc-controls a.sc-pause{
  background: url("images/player/pause.png") no-repeat center scroll;
}
.sc-scrubber {
	display:none !important;
}
/* main menu */
.menu-inner {
	/*min-height:300px;*/
}
.main-wrapper {
	margin-top: 30px;
	background: white;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-border-radius: 5px;
}
#main-navigation ul {
	list-style-type:none;
	margin:0;
}

.white-padding {
	padding: 10px 0 0;
}
/* main content */
.content-header {
	background: url(images/ul.png) repeat-x scroll bottom center #333;
	height: 40px;
	padding: 10px 20px;
}
/* search */
#search-input, #main-search-input, .textbox {
	background:none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
	border:1px solid #999999;
	color:#444444;
	font-family:helvetica neue;
	font-size:20px;
	height:39px;
	padding: 5px 5px 6px;
	width:66%;
	float: left;
}
.textbox {
	padding: 5px 0px 6px;
	width: 100%;
}
#search-label, #main-search-label {
	text-indent:-9999px;
	float:left;
}
.search-class, .search-class2 {
	clear: both;
	background: url(images/ul.png) repeat scroll top white;
	height: 20px;
	padding: 16px 20px 24px;
	text-shadow: black 0 0 3px;
	color: white;
}
.search-class a, .search-class2 a {
padding: 3px 0 0;
font-size: 1em;
height: 20px;
}
.search-class2 {
background: url(images/ulLight.png) repeat scroll top white;
}
.account-label {
	margin: 20px 0px 10px;
	width: 100%;
	float: left;
}
#search {
	padding-top: 22px;
}
#main-submit {
	background:url("images/search-up.png") repeat scroll center top transparent;
}
#type {
	background:url("images/type.jpg") repeat scroll center top transparent;
	margin:0;
}
ul#subMenu {
	margin-top: 12px;
	border: solid 1px #888;
	padding: 0;
	margin-left: 0;
	position: absolute;
	width: 150px;
}
ul#subMenu li {
	text-indent:0;
}
ul#subMenu li:nth-child(even) {
	background: url(images/ulLight.png) repeat scroll bottom white;
	height: 54px;
}
ul#subMenu li:nth-child(odd) {
	background: url(images/ulLight.png) repeat scroll top white;
	height: 54px;
}
ul#subMenu li:hover {
	background:none repeat scroll 0 0 #cafdee;
}
ul#subMenu li a {
	height:100%;
	width:100%;
}
#account-submit {
	background:url("images/update-up.jpg") no-repeat top center scroll transparent;
	float: left;
	clear: both;
	margin: 15px 0 0 24%;
	max-width: 262px;
}
.submit, #type {
	border: 1px solid #999;
	color: #444;
	font-family: helvetica neue;
	font-size: 20px;
	height: 52px;
	padding: 0 5px;
	text-indent: -9999px;
	width: 100%;
	float: left;
	margin: 0;
}
.submit {
	width:50%;
	min-width: 89px;
}
#type {
	height:50px;
	padding:0;
}
.submit:hover, #account-submit:hover, #type:hover {
	background-position: center;
}
.submit:active, #account-submit:hover, #type:hover {
	background-position: bottom center;
}

#search_error {
	color:#333333;
	text-shadow:1px 1px 0 #FFFFFF;
	}
.logo-wrap {
	float:left;
	width:340px;
	padding:0 5px;
}
#logout-link {
	color:#444;
	text-shadow:1px 1px 0 #fff;
}
.the-content {
	background:#fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-border-radius: 5px;
	border-radius: 5px;
	padding-bottom:50px;
	margin-bottom:80px;
}
.the-content ul {
	list-style-type:none;
	padding:0px;
}
.ajaxLoading .wheel {
	margin: 10px auto;
	width:64px;
}
ul.ul-float, .the-content ul.ul-float {
	float: left;
	padding:0;
	width: 50%;
	min-width: 87px;
}
.the-content a {
	font: bold 16px/20px helvetica, arial;
	text-shadow: black 0 0 3px;
	padding: 20px 10px 8px 20px;
	color: white;
	display: block;
	width: 100%;
	overflow: hidden;
	height: 10px;
}
.the-content ul li
	{
		padding:3px;
	}
.the-content ul.recom {
	margin-bottom:30px;
}

.the-content ul li.recom-image, .the-content ul li.recom-info
	{
		padding:0px;
	}
li.recom-image {
		height: 200px;
		overflow: hidden;
		background: #F1F1F1;
	}
.the-content ul.recom li.recom-image div.artist-pic, div.artist-pic {
	background:#f1f1f1;
	background-image: url("images/note.png");
	background-repeat: no-repeat;
	background-position: center;
}
li.recom-info {
	background: url(images/ulLight.png) repeat scroll top white;
	height: 54px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	-border-radius: 0 0 5px 5px;
	margin-bottom: 20px;
	}

.the-content ul li.recom-image ul.subFM {
	margin-top: -41px;
background: rgba(0, 0, 0, 0.3);
height: 200px;
}
.the-content ul li.recom-image:hover ul.subFM {
	display:block;
}
li.moreInfo {
	background: url(images/ulLight.png) repeat scroll bottom white;
	height: 28px;
	padding: 11px 20px 2px!important;
}
li.moreInfo a {
	padding: 0;
height: 20px;
}
li.subSearch, li.subSimilar, li.subFav, li.genreSimilar, li.genreSearch, li.queueTrack, li.favTrack, li.unfavTrack, li.artistsTracks, li.purchaseTrack {
	background: url(images/ul.png) repeat-x scroll bottom center #333!important;
	height: 40px;
	padding: 10px 20px;
	margin: 5px auto;
	width: 93%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-border-radius: 5px;
}
li.subSearch a, li.subSimilar a, li.subFav a {
font: bold 16px/20px helvetica, arial;
text-shadow: black 0 0 3px;
padding: 12px 10px 8px 20px;
color: white;
display: block;
width: 100%;
overflow: hidden;
height: 16px;
}
ul.subFM li.subSearch a, ul.subFM li.subSimilar a, ul.subFM li.subFav a {
	text-indent: 24px;
}
a.favourite-add {
	background: url('images/favTrack.png') no-repeat 6px 4px scroll;
}
li.subSimilar, li.queueTrack, li.favTrack {
	background: url(images/ul.png) repeat-x scroll top center #333;
}
a.similar-search {
	background: url('images/artist-similar.png') no-repeat 6px 4px scroll;
}
a.artist-search {
	background: url('images/artist-search.png') no-repeat 6px 4px scroll;
}
li.subFav {
	
}
.the-content ul.new li:nth-child(even), li.favArtLi:nth-child(even), li.favGenre:nth-child(even), li.favTrackLi:nth-child(even) {
	background: url(images/ulLight.png) repeat scroll bottom white;
	height: 54px;
}
.the-content ul.new li:nth-child(odd), li.favArtLi:nth-child(odd), li.favGenre:nth-child(odd), li.favTrackLi:nth-child(odd) {
	background: url(images/ulLight.png) repeat scroll top white;
	height: 54px;
}
ul.related-genres li.favGenre:nth-child(odd) {
	background: url(images/ul.png) repeat scroll top white;
}
ul.related-genres li.favGenre:nth-child(even) {
	background: url(images/ul.png) repeat scroll bottom white;
}
li.favGenre span {
	font: bold 16px/20px helvetica, arial;
	text-shadow: black 0 0 3px;
	padding: 18px 10px 8px 24px;
	color: white;
	display: inline;
	width: 64%;
	overflow: hidden;
	height: 30px;
	position: absolute;
}
.the-content ul.new li:hover {
	background:none repeat scroll 0 0 #cafdee;
}
li.favArtLi a, ul.new li a, ul.favTracks li a.track-load {
	font: bold 16px/20px helvetica, arial;
	text-shadow: black 0 0 3px;
	padding: 18px 10px 8px 72px;
	color: white;
	display: inline;
	width: 64%;
	overflow: hidden;
	height: 30px;
	position: absolute;
}
span.artistSpan, span.trackSpan {
	margin: 7px;
	display: block;
	height: 40px;
	width: 40px;
	position: absolute;
	background: url('images/artist.png') center scroll;
}
li.favArtLi ul.artist-options, li.favGenre ul.artist-options, ul.favTracks li ul.artist-options{
	width: 118px;
	float: right;
	margin-right: 10px;
}
ul.new li ul.artist-options {
	float: right;
	margin-right: 10px;
	width: 82px;
}
ul.new li ul.purchase {
	width: 123px;
	float: right;
	margin-right: 10px;
}
ul.favTracks li ul.purchase {
	width: 159px;
	float: right;
	margin-right: 10px;
}

ul.new li ul.artist-options li.queueTrack a, ul.favTracks li ul a.queueTrack {
	background:url('images/queue.png') center scroll;
}
ul.new li ul.artist-options li.favTrack a {
	background: url('images/favTrack.png') center scroll;
}
li.favArtLi ul li.subSimilar, li.favArtLi ul li.subSearch, li.favGenre ul li.genreSimilar, li.favGenre ul li.genreSearch,ul.new li ul.artist-options li.queueTrack, ul.new li ul.artist-options li.favTrack, ul.favTracks li ul.artist-options li, ul.favTracks li ul.purchase li, ul.new li ul.purchase li.purchaseTrack {
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	margin: 9px 5px 12px 0;
	float: left;
}
li.favArtLi ul li.subSearch a, a.artistsTracks {
	background:url('images/artist-search.png') center scroll;
}
li.favArtLi ul li.subSimilar a {
	background:url('images/artist-similar.png') center scroll;
}
li.favArtLi ul li.subFav, li.favGenre ul li.subFav, ul.favTracks li.favTrackLi ul li.unfavTrack {
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	margin: 9px 0 12px;
	float: left;
}
li.favArtLi ul li.subFav a, li.favGenre ul li.subFav a.favourite-remove-genre, a.unfavTrack {
	background:url('images/artist-unfav.png') center scroll;
}
li.favGenre ul li a.genre-search {
	background:url('images/genre-search.png') center scroll;
}
li.favGenre ul li a.similar-genre {
	background:url('images/genre-similar.png') center scroll;
}
a.purchaseTrack, li.purchaseTrack a.purchaseTrack {
	background:url('images/buy.png') center scroll;
}
li.favArtLi ul li.subSearch a,li.favArtLi ul li.subSimilar a, li.favArtLi ul li.subFav a, li.favGenre ul li a,ul.new li ul.artist-options li a, li.favTrackLi ul li a, ul.new li ul.new li a {
	font: bold 16px/20px helvetica, arial;
	text-shadow: black 0 0 3px;
	padding: 0;
	color: white;
	display: block;
	width: 30px;
	overflow: hidden;
	height: 30px;
	position: absolute;
}

#main-form {
	margin: 20px 0 0;
}
#more-options {
	display:none;
}
a#home_link, a#profile_link, a#playing_link, a#searches_link, a#account_link, a#logout_link {
	text-indent: 43px;
	padding: 15px 20px;
	margin: 10px;
	display: block;
	text-shadow: 1px 1px 1px white;
	color:#888;
	border: 5px solid white;
}
a#home_link:hover, a#profile_link:hover, a#playing_link:hover, a#searches_link:hover, a#account_link:hover, a#logout_link:hover {
	background-color: #E3E3E3;
	
	border: 5px solid #E3E3E3;
}
.selected {
	background-color: #E3E3E3;
}
a#home_link {
	background: url('images/home.png') no-repeat center left scroll transparent;
}
a#profile_link {
	background: url('images/profile.png') no-repeat center left scroll transparent;
}
a#playing_link {
	background: url('images/playlist.png') no-repeat center left scroll transparent;
}
a#searches_link {
	background: url('images/search.png') no-repeat center left scroll transparent;
}
a#account_link {
	background: url('images/account.png') no-repeat center left scroll transparent;
}
a#logout_link {
	background: url('images/logout.png') no-repeat center left scroll transparent;
}
#window {
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
	display: block;
	position: fixed;
	top: 0;
}
#window-wrapper {
width: 50%;
margin: 0 auto;
border: 6px solid rgba(0, 0, 0, 0.7);
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
background: white;
margin-top: 42px;
}
#window-head {
	background: #29282B;
	height: 40px;
}
#window-body {
	padding: 20px;
}
#window-body p {
	color: #333;
text-shadow: none;
}
#window-head {
	padding: 10px 20px;
	background: url(images/ul.png) top;
	border: 1px solid black;
	border-bottom: 0;
}
#window-a {
	padding: 6px;
	color: white;
	background: #999;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-top: 10px;
	clear: both;
	display: block;
	width: 20%;
	text-align: center;
}
#window-a:hover {
	background:#333;
}

/* new style */
.mobileFix {
	float:left;width:30%;
}
ul#mainMenu {
}
ul#mainMenu li span {
	width:100%;
	float: left;
	height: 60px;
	background: url(images/ul.png) top;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-border-radius: 5px 5px 0 0;
	border: solid 1px black;
	border-bottom: 0;
}
ul#mainMenu li:hover {
	background-position:bottom;
}
ul#mainMenu li.last {
	margin-right:0;
}
a#home_link, a#profile_link, a#playing_link, a#searches_link, a#account_link, a#logout_link {
	background-position: left center;
	font: bold 16px/20px helvetica, arial;
	text-shadow: black 0 0 3px;
	color: white;
	text-indent: 0;
	padding: 4px 20px 12px 31%;
	margin: 5px 10px;
	display: block;
	border: none;
	height: 34px;
}
a#home_link:hover, a#profile_link:hover, a#playing_link:hover, a#searches_link:hover, a#account_link:hover, a#logout_link:hover {
	background-color:transparent!important;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-border-radius: 0;
	border: none;
}
ul#mainMenu li a.single {
	padding: 14px 20px 0px 32%;
}
ul.black li {
	height: 60px;
	background: url(images/ul.png) top;
}
ul.black li:hover {
	background-position: bottom;
}
ul.black li a {
	font: bold 16px/20px helvetica, arial;
	text-shadow: black 0 0 3px;
	padding: 20px 10px 20px 10px;
	color: white;
	position: absolute;
	display: block;
}
ul.black li a.single {
	padding: 14px 20px 0px 59px;
}
ul.black li a:hover {
	color:#e56390;
}
.floatCenter {
	width: 90%;
	margin: 20px auto;
}
/* http://sonspring.com/journal/clearing-floats */

html body * span.clear,
html body * div.clear,
html body * li.clear,
html body * dd.clear
{
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}